# Archivos y carpetas de compilación
bin/
obj/

# Archivos de configuración de usuario (Visual Studio)
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Visual Studio Code
.vscode/

# Archivos de configuración sensibles
.env
appsettings.Development.json

# Archivos de prueba HTTP
*.http

# Archivos temporales y de logs
*.log
*.tmp
.DS_Store
Thumbs.db

# Archivos de prueba o no deseados
WeatherForecast.cs
Borrador.txt